.container-title h4 {
  margin: 0; }

.container-type h5 {
  margin: 0; }

.main-container {
  margin-bottom: 4%; }
  .main-container__order p,
  .main-container h5 {
    margin: 0; }
  .main-container__fluid {
    background: #d6d5d5; }
  .main-container__info p {
    margin: 0;
    margin-bottom: 5px; }
  .main-container__info__left-top {
    height: 47%; }
  .main-container__info__left-bottom {
    height: 47%; }
  .main-container__card-item {
    width: 33%; }
  .main-container__card-item p {
    margin: 0; }
  .main-container__fluid-links {
    width: 62%; }

.word {
  word-break: break-all; }

.card-body {
  padding: 0; }

table {
  text-align: center; }

.txt th {
  vertical-align: text-top !important; }

.txt th:first-child {
  padding: 0 3%; }

.title {
  border-bottom: 1px solid #e1e5eb; }

.middle .row {
  margin-top: 2%; }

.show {
  display: none; }

.heigt {
  height: 30% !important; }

.mardginT {
  margin-top: 7px; }

@media screen and (max-width: 1440px) {
  .main-container__fluid-links {
    width: 70%; } }

@media screen and (max-width: 1024px) {
  .main-container__fluid-links {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .main-container__info__left {
    padding-right: 0 !important; }
  .main-container__info__left-top {
    height: 60px !important; }
  .main-container__info__left-bottom {
    height: 60px !important;
    margin: 10px 0; }
  .main-container__card-item {
    width: 100%; }
  .main-container__fluid-links a {
    width: 40%; }
  .main-container__fluid-links a:nth-last-child(1) {
    margin-top: 10px; }
  .main-container__fluid-links a:nth-last-child(2) {
    margin-top: 10px; } }

@media screen and (max-width: 425px) {
  .container-title a {
    padding: .4286rem .875rem;
    font-size: .6875rem;
    line-height: 1.5;
    border-radius: .25rem;
    margin-top: 10px; }
  .container-title {
    display: flex;
    flex-direction: column; }
  .main-container__fluid a {
    padding: .4286rem .875rem;
    font-size: .6875rem;
    line-height: 1.5;
    border-radius: .25rem; }
  .main-container__fluid-links a {
    width: 45%; } }
